.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  width: 100%;
  height: 100vh;
}
.card{
  width: 500px;
  height: 600px;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px 5px black;
  
}
.head{
  display: grid;
  grid-template-columns: auto 200px;
  padding: 20px;
}
.input-icon{
  position: relative;
  /* background-color: red; */
}
input{
    width: 90%;
    height: 23px;
    border-radius: 5px;
    border: 1px solid black;
    outline: hidden;
}
.head span{
  position: absolute;
  right: 25px;
  top: 5px;
}

li{
  text-transform: uppercase;
  padding: 10px;
}
li span{
  font-weight: 700;
}
 

.btn{
  outline: none;
  border: none;
  background-color: #4bb543;
  color: white;
  text-align: center;
  /* width: fit-content; */
  height: 25px;
  border-radius: 5px;
  /* margin: auto; */
}
.btn:hover{
  background-color: #97d691;
}

@media screen and (max-width:517px) {
  .card{
    width: 90vw;
    height: 600px;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px black;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .head{
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    margin: 0 auto;
  }
  input{
    width: 100%;
    height: 23px;
    border-radius: 5px;
    border: 1px solid black;
    outline: hidden;
}
.head span{
  position: absolute;
  right: 25px;
  top: 5px;
}
.btn{
  margin-top: 10px;
  width: fit-content;
  height: 30px;
  padding: 12px;
  
}
}